#map {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
}

.mapbox-gl-home {
	color: 333;
	background-image: url('assets/icons/home.svg');
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}

img.inline-icon {
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: text-top;
}

.mapboxgl-ctrl-attrib {
	border-radius: 4px;
}

.mapboxgl-ctrl-attrib-inner {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 16px;
}

.mapboxgl-popup-content {
	box-shadow: none;
	padding: 0;
	margin: 0;
	width: 63mm;
	height: 88mm;
	border-radius: 2.75mm;
	margin: 0;
	background-color: #79867c;
}

.mapboxgl-popup-tip {
	display: none;
}

.mapboxgl-popup-close-button {
	top: 5%;
	right: 5%;
	display: none;
}

.mapboxgl-popup h1 {
	font-family: sans-serif;
	font-size: xx-large;
	text-align: center;
	margin-bottom: 8px;
}

.mapboxgl-popup h2 {
	color: dimgrey;
	font-size: small;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	margin: 4px;
}

div.card {
	width: 63mm;
	height: 82mm;
	border-radius: 2.75mm 2.75mm 0 0;
	margin: 0;
}

.card-art {
	width: 58mm;
	height: 36mm;
	background-color: black;
	margin-top: 2.25mm;
	margin-bottom: 2mm;
	margin-left: 2.5mm;
	margin-right: 2.5mm;
	overflow: hidden;
	align-content: center;
}

.lore {
	font-size: 1em;
	width: 58mm;
	color: white;
	max-height: 24mm;
	margin-left: 2.5mm;
	margin-right: 2.5mm;
	overflow-wrap: break-word;
	overflow-y: hidden;
	font-family: "ITC Souvenir";
	line-height: 100%;
}

h1.card {
	padding: 0;
	white-space: pre-wrap;
	font-size: 1.5em;
	text-align: center;
	height: 10mm;
	max-height: 10mm;
	margin: 0;
	color: #ecdb2dff;
	font-family: "ITC Souvenir";
}

h2.card {
	padding: 0;
	margin: 0;
	font-size: 0.75em;
	text-align: center;
	height: 3.5mm;
	max-height: 3.5mm;
	color: white;
	font-family: "ITC Souvenir";
}